/* tablet resolution */

@media screen and (min-width: 576px) {
    /* header */
    .header__content {
        justify-content: space-evenly;
    }

    #hamburger {
        display: none;
    }

    #drawer__close {
        display: none;
    }

    #drawer {
        display: flex;
        align-items: center;
        width: auto;
        height: auto;
        position: static;
        right: auto;
        transform: none;
        background-color: unset;
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        padding: 0;
        font-size: 1rem;
    }

    /* content */
    .resto__wrapper {
        grid-template-columns: 1fr 1fr;   
    }

    .resto__item {
        margin: 0 12px 40px 12px;
    }
    
    .resto__image {
        height: 320px;
    }

    .resto__name {
        margin: 15px 0;
    }

    /*
    *
    * Detail Page
    */

    .restoDetail__menus {
        grid-template-columns: 1fr 1fr;
    }

    .restoDetail__name {
        margin: 45px auto;
    }


    /*
    *
    * Detail Page
    */

    .restoDetail__identity {
        width: 350px;
        margin: 20px auto 60px auto;
    }
}

/* large resolution */

@media screen and (min-width:992px) {

    .resto__wrapper {
        margin: 20px 40px;
    }

    .resto__item {
        margin: 0 13px 45px 13px;
    }

    .resto__heading {
        font-size: 0.7rem;
    }

    .resto__info {
        padding: 0 1.5rem 1.5rem 1.5rem;
    }

    .resto__name {
        font-size: 1.2rem;
    }

    .resto__image {
        height: 350px;
    }

    /*
    *
    * Detail Page
    */

    .restoDetail__content {
        display: grid;
        grid-template-columns: 1fr 1.3fr;
    }

    .restoDetail__description {
        font-size: 0.875rem;
    }

    .restoDetail__img {
        height: auto;
        margin-top: 22px;
    }

    .restoDetail__form {
        width: 60%;
        margin: 12px auto 40px auto;
    }

    .restoDetail__reviews ul {
        grid-template-columns: 1fr 1fr;
        padding: 20px 30px;
    }
}

@media screen and (min-width:1200px) {

    .resto__wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 40px 45px;  
    }    

    .resto__wrapper {
        margin: 40px 60px;  
    }

    .resto__item {
        margin: 0 15px 60px 15px;
    }

    .resto__info {
        padding: 0 2rem 2rem 2rem;
    }

    .resto__description {
        font-size: 0.9rem;
    }

}

@media screen and (min-width:1440px) {

    main {
        max-width: 1440px;
        margin: 0 auto;
    }
    
}